.title1{
    color: blue;
  
}

.title2{
    color: blue;
}

body{
    background-color:lightgray;
}


main nav ul li a{

    color:orangered;
    font-weight: bold;
}

footer a{
    background-color: greenyellow;
}

.f{
    color: blue;
    font-weight: bold;
}

.z{
    color: orangered;
    font-weight: bold;
    text-decoration: none;
}

.neymar{
    color: blue;
}

.Franco{
    color: blue
}

.i{
    color: orangered;
    font-weight: bold;
    text-decoration: none;
}

.u{
    color: blue;
    font-weight: bold;
    
}

.andres{
    color: blue;
}

.j{
    color: orangered;
    font-weight: bold;
    text-decoration: none;
}

.a{
    color: blue;
    font-weight: bold;
}

.toto{
    color: blue;
}

.e{
    color: blue;
    font-weight: bold;
}

.w{
    color: orangered;
    font-weight: bold;
    text-decoration: none;
}
